div.width-90.container.prime-category-detail
	div.xepan-component.xepan-serverside-component(xepan-component="xepan/commerce/Tool_CategoryDetail" url_page="product" show-category-description-only="true" show_price="false" show_item_count="false")