<style>
.xepan-custom-form-input-width input, textarea{
	width:100%;
}
 
</style>

<div id='contact' class='xepan-custom-form-input-width col-md-8'>
	<form method='post'>
		<table align='center' border='0' style="width:80%;">
			<tr>
				<td align='center'>Name:</td>
				<td>{$name}</td>
			</tr>
			<tr>
				<td align='center'>Email:&nbsp;</td>
				<td>&nbsp;{$email}</td>
			</tr>
			<tr>
				<td align='center'>Message:&nbsp;</td>
				<td>&nbsp;{$message}</td>
			</tr>
			<tr>
				<td align='center'>Phone Number:&nbsp;</td>
				<td>&nbsp;{$phoneno}</td>
			</tr>
			
			<tr>
				<td colsapn='2' align='center'></td>
			</tr>
		</table>
	</form>
</div>
<div class="col-md-4">
	<span style="font-size:32px; font-weight:15px;">Prime Scan</span><br>
   <strong>Shubh Ashiyana, Flat No.- 102, Second Floor, B Block, Ayad Shobhagpura,<br>
			100 Feet Rd, Kharakua, Udaipur,<br> 
			Rajasthan 313001 </strong>
</div>