<style>
.xepan-custom-form-input-width input, textarea{
	width:100%;
}
 
</style>

<div id='contact' class='xepan-custom-form-input-width col-md-12 col-sm-12'>
	<form method='post'>
		<table align='center' border='0' style="width:80%;">
			<tr>
				<td align='center'>Name:</td>
				<td>{$name}</td>
			</tr>
			<tr>
				<td align='center'>Email:&nbsp;</td>
				<td>&nbsp;{$email}</td>
			</tr>
			<tr>
				<td align='center'>Message:&nbsp;</td>
				<td>&nbsp;{$message}</td>
			</tr>
			<tr>
				<td align='center'>Phone Number:&nbsp;</td>
				<td>&nbsp;{$phoneno}</td>
			</tr>
			
			<tr>
				<td colsapn='2' align='center'></td>
			</tr>
		</table>
	</form>
</div>	